.digimon-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Use auto-fill to create responsive grid */
  gap: 30px; /* Space between grid items */
  margin: 20px;
  padding: 50px;
  justify-items: center; /* Center items within each grid cell */
  margin-top: 160px;
}

.digimon-card {
  background-color: #222;
  border: 3px solid #00ffcc;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s, box-shadow 0.3s;
}

.digimon-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

.digimon-card img {
  width: 100px; /* Adjust image size */
  height: 100px;
  margin-bottom: 10px;
  filter: drop-shadow(2px 2px #ff33cc);
}

.digimon-card h2 {
  color: #ffcc00;
  margin: 30px 0;
}

.digimon-card p {
  color: #fff;
}
.filter-bar {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.level-filter {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
  width: 200px;
}

.level-filter option {
  padding: 10px;
  font-size: 14px;
}
